<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 09.03.2024, 14:00</time>
            <h2><a href="">My first post</a></h2>
            <p>Kalingaw ba ani hahaha.</p>
        </article>

        <article>
            <time>published: 09.03.2024, 14:00</time>
            <h2><a href="">My second post</a></h2>
            <p>Maka information overload hahaha.</p>
        </article>
    </body>
</html>